@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;
 font-family: 'Roboto', sans-serif; 
 background: url("./margherita-pizza.jpg");
 height: 100vh;
 background-repeat: no-repeat;
background-size: cover; 
}

#First-part{
    height: 140vh;
}
.navbar-brand{
    font-weight: bold;
    font-size: 26px !important;
}
.about{
    position: relative;
    right: 152px;
    border-bottom: 2px solid yellow;
    color: white !important;
}
.our-food{
    position: relative;
    right: 118px;
    color: white !important;
   
}
.plans{
    position: relative;
    right: 70px;
    color: white !important;
  
}
.contact-us{
    position: relative;
    right: 40px;
    background-color:#ffd611;
    border-radius: 40px;
    color: white !important;

}
header h1{
    position: relative;
    font-size: 57px !important;
    top: 95px;
    opacity: 86%;
    font-weight: 400 !important;
    text-align: left;
}
main p{
    position: relative;
    top: 94px;
    font-weight: 500;
    font-size: 18px;
    color: black;
    opacity: 56%;
}
.order-food{
    position: relative;
    top: 106px;
    background-color: #ffd611;
    text-align: center;
    width: 107px;
    border-radius: 40px;
}
.order-food a{
    position: relative; 
    text-decoration: none !important;
    color: white;
    font-size: 15px;
}
.connection{
    position: relative;
    top: 122px;
    display: flex;
   
    width: 173px;
}
.connection a{
    text-decoration: none;
    flex: 1;
    color: white;
    font-size: 27px;
}
 .down-arrow{
    font-size: 70px;
    color: white;
    text-align: center;
    position: relative;
    top: 170px;
}
header .food{
    color: #eb8e0c;
}
.container .logo{
    color: #ffd611 !important;
}

/* Second part */

#Second-part{
    background:url("./abstract.jpg");
   background-size:cover ;
   height: 100vh;
}

/* #Second-part{
    background:url("./abstract.jpg");
   background-size:cover ;
   height: 700px;
   position: absolute;
   top: 900px;
   
} */
.card{
    top: 92px;
    height: 408px
}
.list-group-item{
    border: none !important;
}
/* newly added */
.list-group-item-1{
    border: none !important;
    list-style: none;
    background: #eb8e0c;
    margin-top: 20px;
    padding: 10px;
    
}
.list-group-item-total{
    border: none !important;
    list-style: none;
    background: #eb8e0c;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    top: 190px;
    
}
.list-group-item:hover{
    /* transform: scale(1.1); */
    transition: ease-in-out 0.3;
   cursor: pointer;
    background: #eb8e0c;
}
h1{
    text-align: center;
    font-size: 30px !important;
    font-weight: 400 !important;
}

.list-group-item img{
    width: 50px;
    height: 43px;
    margin-right: 20px;
}
/* newely */
.list-group-item-1 img{
    width: 50px;
    height: 43px;
    margin-right: 20px;
}
.add-element{
   display: flex;
   justify-content: center;
   text-align: center;
   position: relative;
    bottom: 160px;
    width: 7%;
    left: 630px;
    background-color: #eb8e0c;
    border-radius: 40px;
    opacity: 39%;
}
.remove-element{
    display: flex;
   justify-content: center;
   text-align: center;
   position: relative;
    bottom: 143px;
    width: 7%;
    left: 630px;
    background-color: #eb8e0c;
    border-radius: 40px;
    opacity: 39%;
}
.active{
    opacity: 100%;

}
/* newly added */
.price-1{
    position: relative;
    left: 261px;
}
.price-2{
    position: relative;
    left: 245px;
}
.price-3{
    position: relative;
    left: 196px;
}
.price-4{
    position: relative;
    left: 188px;
}
.cart-price-1{
    position: relative;
    left: 261px;
}